<service>
	<serviceName>bolita</serviceName>
	<serviceAliases>
		<alias>bolita</alias>
		<alias>loteria</alias>
		<alias>charada</alias>
	</serviceAliases>
	<serviceDescription>Le permite conocer los resultados de la loteria Cubana (La Bolita).</serviceDescription>
	<creatorEmail>jaikerkings@yahoo.es</creatorEmail>
	<serviceCategory>informativo</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra BOLITA para obtener los resultados del dia actual.

			Por ejemplo:
			1. Para obtener los resultados del dia actual:
				Para: {APRETASTE_EMAIL}
				Asunto: BOLITA

				Debera recibir un email en respuesta con los resultados de la loteria para el dia actual.


			2. Para obtener un listado de dias anteriores de la bolita, escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto coloque la palabra BOLITA seguida de la palabra ANTERIORES:
				Para: {APRETASTE_EMAIL}
				Asunto: BOLITA ANTERIORES

				Debera recibir un email en respuesta con los resultados de los ultimos 7 sorteos de la loteria.
				
			* Las imagenes que ves en este servivio fueron preparadas y provistas por: alex@apretaste.com
		]]>
	</serviceUsage>
</service>
