/* GENERAL */

.bolita-color.acent{
	background: #455A64;
}

.bolita-yellow-text{
	color: #FFA420;
}

.bolita-color{
	background: #263238 !important;
}

body{
	font-family: 'Roboto', sans-serif;
	color: white;
}

.datepicker-modal{
	max-width: 325px;
}

body, .datepicker-container, .datepicker-container button:focus{
	background: #263238;
}

.datepicker-table td.is-selected{
	background: #FFA420;
	border-radius: 0;
}

.confirmation-btns > button, .datepicker-table td.is-today{
	color: #FFA420;
}

.datepicker-date-display, .confirmation-btns > button{
	display: none;
}

.selects-container input{
	color: white;
}

.month-next, .month-before{
	fill: white;
}

@media screen and (max-width: 420px){
	.sidenav{
		max-width: 240px;
	}
}

h1, h2 {
	color: white;
	text-align: center;
}

h1 {
	font-size: 27px;
	margin: 0;
}

h2 {
	font-size: 20px;
	margin-top: .5rem;
}

.name{ font-size: 18px }
.result { font-size: 18px }

.card{
	box-shadow: none;
	background: #455A64;
}

.btn-floating:focus, .btn-floating:hover{
	background: #455A64;
}

.card-image{ padding-top: 1px }
.card-content { padding: 0 0 10% 0 !important }

.img{
	margin: auto;
}

.img-container{
	border-radius: 50% !important;
	background-color: #FFA420;
	max-width: 150px;
}

/* CHARADA */

.img-container, .charada-container > div{
	display: flex;
	align-items: center;
}

.card-image > .img-container{
	margin: 10% auto;
	width: 70%;
}

.charada-item .img-container{
	width: 65px;
	height: 65px;
}

.charada-item .img{
	width: 35px;
	height: 35px;
}

.charada-item h1, .charada-item h2{
	margin: 0;
}

.charada-item h1{ font-size: 2rem }
.charada-item h2{ font-size: 1.5rem }

.charada-item i{
	position: relative;
	top: -20px;
	right: -5px;
}

.charada-container, .charada-container > div{
	height: inherit;
}

.charada-item{
	background-color: #455A64;
	width: 100%;
	height: 90px;
	margin-bottom: 20px;
	border-radius: 8px;
}

/* BOLA DE LA SUERTE */

#esfera-in{
	background: #FFA420;
	padding: 20%;
	border-radius: 50%;
}

#esfera-out{
	border-radius: 50%;
	padding: 10px;
	border: 5px solid #FFA420;
}

/* BUTTONS */

.btn-floating.second {
	margin-right: -10px;
	margin-top: 7px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

.btn-floating.third {
	bottom: 45px;
	left: 87px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}