/* USER CARDS */

.card.user-card .content {
	padding: 10px 5px 5px 5px;
}

.card.user-card .action {
	padding: 5px 0px;
}

.card.user-card .action a {
	color: inherit;
}

/* BOLITA IMAGE */

.img-container {
	margin: auto;
	border-radius: 50%;
	display: flex !important;
}

.img-container.actual {
	width: 65px;
	height: 65px;
	margin-bottom: 5px;
}

.img {
	margin: auto;
	width: 35px;
	height: 35px;
}

.img.small {
	width: 25px;
	height: 25px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.tiny .icon {
	line-height: 20px;
}

/* DATEPICKER */

.datepicker {
	width: 100px !important;
	border-bottom: none !important;
}

.datepicker-modal {
	max-width: 325px;
}

.datepicker-table td.is-selected{
	border-radius: 0;
}

.datepicker-date-display, .confirmation-btns > button{
	display: none;
}

/* FLOAT BUTTON */

.bottom-space {
	margin-bottom: 80px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

/* MENU */

.sidenav{
	padding-top: 20px;
	max-width: 240px;
}

/* NUMBERS LIST */

.collection.number-list .collection-item {
	padding-left: 50px;
}

.collection.number-list .number {
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
	top: 15px  !important;
	left: 10px !important;
	font-style: normal;
}

/* BOLA DE LA SUERTE */

#suerte {
	display: none;
}

.esfera-in{
	padding: 20%;
	border-radius: 50%;
}

.esfera-out{
	border-radius: 50%;
	padding: 10px;
	border: 5px solid #FFA420;
	width: 80%;
	margin: auto;
}

.esfera-out.small{
	border: 0px;
	width: 40%;
	margin: auto;
	margin-bottom: 40px;
}
