<!-- CONTENT -->

<div class="row">
	{{APP_TEMPLATE_CODE}}
</div>

<!-- FLOATING MOBILE BTN -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<% if(title == 'Tiradas') { %>
		<a class="btn-floating waves-effect waves-light grey second modal-trigger" href="#shareModal">
			<i class="material-icons">share</i>
		</a>
	<% } %>
	<a class="btn-floating btn-large waves-effect waves-light bolita-color green" onclick="openMenu();">
		<i class="material-icons">menu</i>
	</a>
</div>

<!-- MENU -->

<ul class="sidenav">
	<li>
		<a onclick="apretaste.send({'command':'BOLITA'})">
			<i class="material-icons">star</i> Tiradas
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA CHARADA'})">
			<i class="material-icons">casino</i> Charada
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA SUERTE'})">
			<i class="material-icons">toys</i> Suerte
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA REGLAS'})">
			<i class="material-icons">help</i> Reglas
		</a>
	</li>
</ul>
