<!-- CONTENT -->

<div class="row">
	{{APP_TEMPLATE_CODE}}
</div>

<!-- FLOATING MOBILE BTN -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<% if(title == 'Tiradas') { %>
		<a class="btn-floating waves-effect waves-light grey second modal-trigger" href="#shareModal">
			<i class="material-icons">share</i>
		</a>
	<% } %>

	<% if(title == 'Apuestas') { %>
		<a class="btn-floating waves-effect waves-light grey second" onclick="apretaste.send({'command':'BOLITA APOSTAR'})">
			<i class="large material-icons">add</i>
		</a>
	<% } %>

	<% if(title != 'Apostar') { %>
		<a class="btn-floating btn-large waves-effect waves-light bolita-color green" onclick="openMenu();">
			<i class="material-icons">menu</i>
		</a>
	<% } %>
</div>

<!-- MENU -->

<ul class="sidenav">
	<li>
		<a onclick="apretaste.send({'command':'BOLITA'})">
			<i class="fas fa-calendar-day fa-lg"></i> Tiradas
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA CHARADA'})">
			<i class="fas fa-list fa-lg"></i> Charada
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA SUERTE'})">
			<i class="fas fa-dice fa-lg"></i> Suerte
		</a>
	</li>
	<li>
		<a class="right-icon" onclick="apretaste.send({'command':'BOLITA APOSTAR'})">
			<i class="fas fa-plus-circle fa-lg"></i>
		</a>

		<a onclick="apretaste.send({'command':'BOLITA APUESTAS'})">
			<i class="fas fa-coins fa-lg"></i> Apuestas
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA GANADORES'})">
			<i class="fas fa-crown fa-lg"></i> Ganadores
		</a>
	</li>
	<li>
		<a onclick="apretaste.send({'command':'BOLITA REGLAS'})">
			<i class="fas fa-question-circle fa-lg"></i> Reglas
		</a>
	</li>
</ul>
