<div class="row">
	<div class="col s12">
		<ul class="collection one-line">
			<% charada.forEach(function(item, i) { %>
				<li class="collection-item avatar">
					<div class="tiny material-icons orange circle img-container">
						<div class="img small" style="<%= getImage(i, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
					</div>
					<span class="title"><b>#<%= item.number %> <%= item.names.join(', ') %></b></span>
					<p class="blue-grey-text"><%= item.desc %></p>
				</li>
			<% }) %>
		</ul>
	</div>
</div>
