<div class="row">
	<div class="col s12">
		<h1>La charada</h1>

		<table class="striped" border="1">
		<% for(var i=0; i<charada.length; i++) { %>
			<tr>
				<td width="100">
					<img src="{{APP_SERVICE_PATH}}/images/<%= i+1 %>.png" alt="<%= charada[i] %>">
				</td>
				<td>
					<h2>#<%= i+1 %></h2>
					<%= charada[i] %>
				</td>
			</tr>
		<% } %>
		</table>
	</div>
</div>

<div class="fixed-action-btn hide-on-unique">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BOLITA'})"><i class="material-icons">arrow_back</i></a>
</div>