<div class="row">
	<div class="col s12">
		<!-- apretin -->
		<div class="col s12 speech-bubble-space">
			<div class="speech-bubble">
				<div class="arrow"></div>
				Quiero explicarte de que vá la charada, y como jugar a la bolita de Cuba.
			</div>
			<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
		</div>

		<ul class="collection number-list">
			<li class="collection-item avatar">
				<i class="number circle">1</i>
				<p class="green-text">¿Qué es la charada?</p>
				<p>En la bolita se juega con números del 1 al 100, y cada uno tiene una representación en "la charada", por ejemplo "el #1 es caballo". Además de ayudar a recordar los números, la charada te ofrece pistas para jugar; si hoy te picó una araña, deberías jugar el número 35.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">2</i>
				<p class="green-text">¿Qué es la bolita cubana?</p>
				<p>La bolita es un juego de apuestas cubano, similar a la lotería. Se apuesta por uno o varios números, y dos veces al día se escogen aleatoriamente tres números en un proceso llamado "tirada". Usted sale ganador si el número apostado coincide con los números de la tiradas.</p>
			</li>


			<li class="collection-item avatar">
				<i class="number circle">3</i>
				<p class="green-text">¿Cómo funcionan las "tiradas"?</p>
				<p>En cada tirada salen tres números del 1 al 100, por ejemplo: "54-9-100". El "fijo" es el primer valor, en este caso el 54, y los otros dos valores se llaman "corridos", siendo el "corrido uno" el 9 y el "corrido dos" el 100.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">4</i>
				<p class="green-text">¿Cómo se crea una apuesta?</p>
				<p>Se pueden hacer tres tipos de apuestas: 1) apostar al "fijo", donde se escoje un solo número, y se gana cuando el número escogido corresponde con el "fijo" de la tirada; 2) apostar a los "corridos", donde se escoge un número, y se gana si el número escogido es alguno de los dos "corridos", y por último 3) hacer un "parlé", donde se escogen tres números y se gana cuando estos corresponden con el fijo y los corridos, en el orden que fueron escogidos.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">5</i>
				<p class="green-text">¿Cuanto paga el "fijo"?</p>
				<p>Una apuesta al "fijo" paga 75 veces la cantidad apostada. Por ejemplo, si le juegas §5 a un número y este sale como fijo, te llevas un premio de §375. Ten presente que el número que jugastes tiene que salir en la primera posición de la tirada.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">6</i>
				<p class="green-text">¿Cuanto pagan los "corridos"?</p>
				<p>Apostar a los corridos es la jugada más popular. Una apuesta al los "corridos" paga 25 veces la cantidad apostada. Por ejemplo, si a un corrido le pones §5, te llevarás §125. Puede salir en cualquiera de las dos posiciones de los corridos, pero si sale repetido solo ganas una vez.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">7</i>
				<p class="green-text">¿Cuanto paga un "parlé"?</p>
				<p>Apostar al parlé es la jugada más riesgosa, pero también la que mejor paga. Un parlé paga 900 veces la cantidad apostada. Por ejemplo, si a un parlé le pones §5, te llevarás §4500. Para ganar, tienen que salir los tres números tuyos, exactamente en la posición que escogistes.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">8</i>
				<p class="green-text">¿Cúando se sacan los resultados?</p>
				<p>Las dos tiradas diarias salen de la lotería del Cash 3 y el Play 4 que se juegan en Florida, y se televisan a la 1:30 PM y las 9:45 PM correspondientemente. Estos resultados pueden demorar hasta 30 minutos en aparecer en la web oficial de apuestas de Florida, de donde tomamos nuestros números.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">9</i>
				<p class="green-text">¿Cuál es la última hora para jugar?</p>
				<p>Usted puede jugar hasta una hora antes de que los números sean anunciados. Si juega después de tiempo, su apuesta será automáticamente movida para la próxima tirada. Si desea jugar en la mañana, apueste antes de las 12:30 AM, y si quiere jugar en la tarde, antes de las 8:45 PM.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">10</i>
				<p class="green-text">¿Puedo ganar dinero jugando?</p>
				<p>No. Las apuestas en Apretaste trabajan con créditos, y los créditos de Apretaste solo tienen validez para canjear dentro del app. Los créditos no tienen representación monetaria y no pueden ser redimidos en ninguna moneda fiat o sistemas de valor como crypto o bienes materiales.</p>
			</li>
		</ul>
	</div>
</div>
