<div class="col s12">
    <h1 class="left-align">Reglas de la Bolita</h1>

    <p>La Bolita es la versión cubana de lo que internacionalmente se conoce como Lotería. Básicamente es un juego en el que
        se apuesta dinero a uno o varios números, esperando coincidir con las cifras lanzadas.</p>

    <p>Las dos tiradas son diarias en horarios de la tarde y la noche. Los lanzamientos dependen de los números de la
        lotería del Cash 3 y el Play 4 que se juegan en la Florida. Cada número tiene varias figuras correspondientes en una
        lista llamada charada.</p>

    <p>Son tres números, uno fijo y dos corridos. El fijo es el más importante, ya que por él se paga 75 veces la cantidad
        de dinero apostado en la jugada; y por cada uno de los corridos, 25. Se puede cobrar 800 pesos cubanos por cada uno
        de los números, más su multiplicación por lo apostado. La fórmula general es: 3 x 800 x el dinero invertido en esa
        jugada. Otras alternativas son el "Parlé", que consiste en acertar dos de los números ganadores del tiro cobrándose
        por ello 800 veces lo que se apostó; y el "Candado", que es cuando se adivinan los tres números ganadores.</p>
</div>